{% extends "lab_4/layout/base.html" %}

{% block content %}
{% load staticfiles %}
<h1 align="center" style="color:#FFFFFF;font-weight:bold;font-size:50px">Portofolio</h1>
<center><img class="img-circle" src="https://image.ibb.co/fdn89Q/updated1resize_1.jpg" alt="My image" width="200" height="200"></center>
<center><h1 style="color:#FFFFFF;font-size:25px; font-family:Trebuchet MS">Aditya Rizki Auli Dwibangga</h1></center>
<hr/>
<style>
body{
  background-image: url("https://preview.ibb.co/jRMeYk/BG_1.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
-webkit-background-size: 100% auto;
-moz-background-size: 100% auto;
-o-background-size: 100% auto;
background-size: 100% auto ;
}
</style>
<section name="bio">
    <h2 style="color:#FFFFFF;font-weight:bold;font-size:40px">Bio</h2>
    <p style="color:#FFFFFF;font-size:18px">
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2 style="color:#FFFFFF;font-weight:bold;font-size:40px">List</h2>
    <ul style="color:#FFFFFF;font-size:18px">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section style="color:#FFFFFF;" name="form">
    <h2 style="color:#FFFFFF;font-weight:bold;font-size:40px">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <center><button type="submit" class="btn btn-default">Submit</button></center>
    </form>
</section>

{% endblock %}
